<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if gender == 'M' %}
        <h1>Hello Mr.{{name}}</h1>
    {% else %}
        <h1>Helle Mrs.{{name}}</h1>
    {% endif %}

    <p></p>
    Age:{{age}}
    <hr>

    <h2> Hobbies </h2>
    {% for hobby in hobbies %}
        <ul><h3>{{hobby}}</h3></ul>
    {% endfor %}
</body>
</html>