
  <nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><h1>IMDB</h1></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <li><a href="#" class="nav-link px-2 text-secondary">Homepage</a></li>
            <li><a href="{%url 'adddirector' %}" class="nav-link px-2 text-white"><h5>Add Director</h5></a></li>
            <li><a href="{%url 'addfilm' %}" class="nav-link px-2 text-white"><h5>Add Film</h5></a></li>
            <li><a href="{%url 'films' %}" class="nav-link px-2 text-light">Films</a></li>
            <li><a href="{%url 'directors' %}" class="nav-link px-2 text-light">Directors</a></li>
            <li><a href="{%url 'profile_create' %}" class="nav-link px-2 text-light">Create Profile</a></li>

        </ul>
      </div>

      <div class="text-end">
        <button  type="button" class="btn btn-outline-light me-2"><a href="{%url 'login' %}" class="nav-link px-2 text-black">Login</a></button>
        <button  type="button" class="btn btn-outline-light me-2"><a href="{%url 'logout' %}" class="nav-link px-2 text-white">Logout</a></button>
        <button type="button" class="btn btn-warning"><a href="{%url 'register' %}" class="nav-link px-2 text-white">Register</a></button>
      </div>
    </div>
  </nav>

