*{
    box-sizing: border-box;
}

section{
    border: 2px solid red;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 5px;
}

section div{
    text-align: center;
    border: 1px solid blue;
    background-color: rgb(109, 109, 255);
    color: white;
}

.one{
    width: 100%;
    height: 33%;
}

.two{
    align-self: flex-end;
    width: 20%;
    height: 33%;
}

.three{
    width: 100%;
    height: 33%;
}