<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <h1>{{family}}</h1>
    <ul>
        {% for animal in animals %}
        <li>{{animal}}</li>
    </ul>
    {% endfor %} -->
    <a href="{%url 'animals_all'%}"><b>All Animals</b></a>
    <h1> {{family.name}} </h1>

    {%for animal in animals%}
        <br>
        <a href="{%url 'animal' animal.id%}"> {{animal.name}} </a>
        <br>
    {%endfor%}

</body>
</html>