<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customers</title>
</head>
<body>
    <h1>Customers:</h1>
    <br>
    {% for customer in customers%}
        <a href="{%url 'customer' customer.id%}"><h2><p>{{customer.first_name}} {{customer.last_name}}</p></h2></a>
        <h3><p>{{customer.email}}</p></h3>
        <h3><p>{{customer.phone_number}}</p></h3>
        <h3><p>{{customer.address}}</p></h3>
        <br>
    {%endfor%}
</body>
</html>