<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicles</title>
</head>
<body>
    <h1>Vehicles</h1>
    <br>
    {% for vehicle in vehicles%}
        <h2>Type: {{vehicle.type}}</h2>
        <h2>Size: {{vehicle.size}}</h2>
        <h2>Cost: {{vehicle.real_cost}}</h2>
        <h3>Date Created: {{vehicle.date_created}}</h3>
        <br>
    {%endfor%}
    
</body>
</html>