h1 {
    border-bottom: groove;
}

#cattab {
    margin-left: 60px;
}

#cattab h3{
    border-bottom: solid;
    width: 6%;
}

#media {
    text-align: center;
}

img{
    border: 10px solid orange;
    width: 40%;
    margin-top: 50px;
    margin-bottom: 40px;
}

#lions{
    text-align: center;
}

#lions h3{
    border: 2px solid red;
    color: red;
}

th {
    border: 1px solid black;
}
td {
    border: 1px solid black;
    padding: 20px;
    width: 40%;
}
